/* ����������� ���� ������ ��������� */
.topnav {

    background-color: #1fc5d0;
    overflow: hidden;
    position: relative;
    text-align:center;
    margin:  auto;
    justify-content: space-between;
    padding:20px;
}

    .topnav a { /*������� ��������� */
              
        position: relative;
        overflow: hidden;
        font-size:medium;
        position: relative;
        color: #f2f2f2;
        text-align: center;
        padding: 5px 10px;
        text-decoration: none;
        font-size: 30px;
    }


        .topnav a:hover { /* ��� ������ ������ ���� ��������� � ������  */
            background-color: deepskyblue;
            color: white;
           
        }


        .topnav a.active { /* */
            background-color: #4;
            color: black;
            position: relative;
            text-align: center;
            top: 30px;
          
        }


html {

}



.fon {
    position: relative;
    text-align: center;
    top: 1px;

}

.body {
    margin: auto;
    width: 100%;
    position: relative;
    text-align: center;
    top: 1px;
    width: 1400px;
    height:6100px;
    box-shadow: 10px 10px 10px 10px #454545;
    padding: 20px;
}

.uslowtarif {
    text-align: center;
    font-size: 30px;
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px 2px black;
}




.podkltar {
    width: 100%;
    position: relative;
    text-align: center;
    margin: auto;
    font-size: 4em;
    padding: 20px;
    text-align: center;
    color: aqua;
    text-shadow: 3px 1px 1px #5b5b5b;
}
.podkltar2 {
    width: 100%;
    position: relative;
    text-align: center;
    margin: auto;
    font-size: 3em;
    padding: 20px;
    text-align: center;
    color: aqua;
    text-shadow: 3px 1px 1px #5b5b5b;
}


.tarifimg {
    box-shadow: 5px 5px 5px 5px #326f58;
}

.skid {
    font-size: 50px;
    color: #f5ff00;
    text-shadow: 3px 1px 1px #5b5b5b;
}



A {
    text-decoration: none; /* ������� ������������� ��� ������ */
}





.bulletsBlock {
    text-align: center;
    position: relative;
    display: table;
    clear: both;
    float: none;
    overflow: hidden;
    position: relative;
    text-align: center;
    margin: auto;
    justify-content: space-between;
    padding: 20px;
}

    .bulletsBlock > div {
        box-shadow: 10px 10px 10px 5px #4e4b4b;
        width: 30%;
        float: left;
        background: #3ef3ff;
        margin-left: 5%;
        text-align: center;
        position: relative;
        padding-bottom: 20%;
        cursor: pointer;
        -webkit-transition: all 0.35s linear;
        transition: all 0.35s linear;
        height: 300px;
    }

    .bulletsBlock > div:first-child {
        margin-left: 0;
    }

    /*���� ����� � ����� ��� ���������*/
    .bulletsBlock > div:hover {
        -webkit-box-shadow: 0 35px 35px -35px #000000;
        -moz-box-shadow: 0 35px 35px -35px #000000;
        box-shadow: 0 35px 35px -35px #000000;
    }
.bullet-item span {
    line-height: 1.5em;
    font-size: 12.5em;
    color: #3ef3ff;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}

/*�������� ������ ��� ��������� - ���������� � ����� �����*/
.bulletsBlock > div:hover span.iconBullet {
    line-height: 1.35em;
    font-size: 10.625em;
    top: -2.7%;
}
.titleBullet, .hideText { /*�������� ������ ��� ��������� - ���������� � ����� �����*/
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: center;
    width: 100%;
    margin: 0;
    color: #fff;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}

.titleBullet { /*�������� ������ */
    line-height: 2.5em;
    font-size: 2.1875em;
    background: #1fc5d0;
    z-index: 10;
}

.hideText {
    line-height: 1.3em; /*������� */
    font-size: 30px;
    padding: 20px 0;
    background: #37d4ff;
    font-weight: 300;
    z-index: 8;
    height: 50px;
    -webkit-transition: all 0.35s linear 0.2s;
    transition: all 0.35s linear 0.2s;
}

/*�������� ��� ��������� �������� ���������� �����*/
.bulletsBlock > div:hover p.titleBullet {
    bottom: 80px;
}

/*�������� ��� ��������� �������� ���������� �����*/
.bulletsBlock > div:hover p.hideText {
    background: #454545;
}






#slider { /*��������� ��������*/
    position: relative;
    text-align: center;
    top: 10px;
}

#slider { /*��������� ��������*/
    margin: 0 auto;
}

#slides article { /*��� ����������� ������ ���� �� ������*/
    width: 20%;
    float: left;
}

#slides .image { /*������������� ����� ������ ����� � �������������*/
    width: 500%;
    line-height: 0;
}

#overflow { /*�������� ���, ��� ��������� �� ��������� ����� �����*/
    width: 100%;
    overflow: hidden;
}

article img { /*������ ����������� ��������*/
    width: 100%;
}

#desktop:checked ~ #slider { /*������ ����� ��������*/
    max-width: 1200px; /*������������� ������*/
}

/*��������� ������������ � ��������� ��� ����� �������*/
/*���� ����1-5 �������, �� ���� ��������� � ������ �� ����� � id ��������*/
#switch1:checked ~ #controls label:nth-child(5),
#switch2:checked ~ #controls label:nth-child(1),
#switch3:checked ~ #controls label:nth-child(2),
#switch4:checked ~ #controls label:nth-child(3),
#switch5:checked ~ #controls label:nth-child(4) {
    background: url('prev.png') no-repeat; /*������� ���� ��������� ��� ����������*/
    float: left;
    margin: 0 0 0 -84px; /*����� �����*/
    display: block;
    height: 68px;
    width: 68px;
}

/*��������� ������������ � ��������� ��� ������ �������*/
#switch1:checked ~ #controls label:nth-child(2),
#switch2:checked ~ #controls label:nth-child(3),
#switch3:checked ~ #controls label:nth-child(4),
#switch4:checked ~ #controls label:nth-child(5),
#switch5:checked ~ #controls label:nth-child(1) {
    background: url('next.png') no-repeat; /*������� ���� ��������� ��� ����������*/
    float: right;
    margin: 0 -84px 0 0; /*����� ������*/
    display: block;
    height: 68px;
    width: 68px;
}

label, a { /*��� ��������� �� ������� ��� ������������� - ������ ���������*/
    cursor: pointer;
}

.all input { /*�������� ����������� ������ (��������) �� ��������*/
    display: none;
}

/*������� ����������� ��� ��������� �������������*/
#switch1:checked ~ #slides .image {
    margin-left: 0;
}

#switch2:checked ~ #slides .image {
    margin-left: -100%;
}

#switch3:checked ~ #slides .image {
    margin-left: -200%;
}

#switch4:checked ~ #slides .image {
    margin-left: -300%;
}

#switch5:checked ~ #slides .image {
    margin-left: -400%;
}

#controls { /*��������� ����� ���� ����������� ���������*/
    margin: -25% 0 0 0;
    width: 100%;
    height: 50px;
}

#active label { /*����� ���������� �������������*/
    border-radius: 10px; /*���������� �����*/
    display: inline-block; /*������������ � ������*/
    width: 15px;
    height: 15px;
    background: #bbb;
}

#active { /*������������ ����� � ���������������*/
    margin: 23% 0 0;
    text-align: center;
}

    #active label:hover { /*��������� �������� ��� ���������*/
        background: #76c8ff;
        border-color: #777 !important; /*���������� � ����� ������*/
    }

/*���� ��������� ������ ��� ��������� ��������*/
#switch1:checked ~ #active label:nth-child(1),
#switch2:checked ~ #active label:nth-child(2),
#switch3:checked ~ #active label:nth-child(3),
#switch4:checked ~ #active label:nth-child(4),
#switch5:checked ~ #active label:nth-child(5) {
    background: #18a3dd;
    border-color: #18a3dd !important;
}

#slides .image { /*�������� ������������� �����������*/
    transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

#controls label:hover { /*������������ ������� ��� ���������*/
    opacity: 0.6;
}

#controls label { /*������������ ������� ��� ������ �������*/
    transition: opacity 0.2s ease-out;
}







#scroller_container {
    margin: 0 auto;
    width: 1200px;
    height: 500px;
    overflow: hidden;
    line-height: 0;
    font-size: 0;
}

    #scroller_container div {
        float: left;
        vertical-align: baseline;
    }

    #scroller_container > div {
        position: relative;
        white-space: nowrap;
        width: 100%;
        padding: 22px 0;
    }

        #scroller_container > div a,
        #scroller_container > div a img {
            padding: 0;
            margin: 0;
        }

            #scroller_container > div a img {
                margin: 0 1px;
                border: 0;
            }









.vigoda {
    text-align: center;
    position: relative;

    float: none;
    overflow: hidden;
    position: relative;


    padding: 20px;
}


.infa {
    text-align: left;
    float: left;
    font-size: 30px;
    text-shadow: 1px 1px 2px black;
    color: #1fc5d0;
    margin-left: 30px;
    margin-right: 30px;
}



.footer {
    height: 7%;
    width: 100%;
    height:300px;
    float: left;
    background: #3ef3ff;
    box-shadow: 3px 3px 3px rgba(2, 4, 4, 4);
}
.container {
    font-size: 30px;
    background-color: #3ef3ff;
    overflow: hidden;
    text-align: center;
    margin: auto;
}
.footer-copyright{
    font-size:25px;
}


.aaa{
    text-align:center;
    font-size:30px;
}



